{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="d-flex flex-row">
        <div style="" class="col-md-4 mr-2 ">
            <div class="activate-card bg-white shadow">
                {% if activity.krever_NTNUI_medlemskap %}
                    <img src="{% static "images/ntnui_logo_800.png" %}" style="width: 100%;"  alt="NTNUI-logo"/>
                {% else %}
                    <img src="{% static "images/sit_logo_800.png" %}" style="width: 100%;" alt="Bilde av aktivitet"/>
                {% endif %}


                <div class="p-4">

                    {% if activity.krever_NTNUI_medlemskap %}
                        <div class="mb-2">
                            <p>Dette arrangementet krever NTNUI-medlemskap</p>
                        </div>
                    {% endif %}

                    <div class="mb-2">
                        <strong>Arrangør</strong>
                        <br>
                        <div class="font-weight-light">
                            {% if activity.responsible.first_name|length == 0 and activity.responsible.last_name|length == 0 %}
                                Arrangør har ikke fullført registering.
                            {% else %}
                                {{ activity.responsible.first_name }} {{ activity.responsible.last_name }}
                            {% endif %}
                        </div>
                    </div>
                    {% if activity.show_email_address %}
                    <div class="mb-2">
                        <strong>Kontaktinformasjon</strong>
                        <br>
                        <div class="font-weight-light">
                                {{ activity.responsible.email }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="mb-2">
                        <strong>Påmeldte</strong>
                        <br>
                        <div class="font-weight-light">
                            {% if activity.max_participants == 0 or activity.max_participants is None %}
                                {{ activity.registered_users.count }}
                            {% else %}
                                {{ activity.registered_users.count }} av {{ activity.max_participants }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-2">
                        <strong>Oppmøtested</strong>
                        <br>
                        <div class="font-weight-light">
                            {% if activity.oppmøtested|length == 0 or activity.oppmøtested is None %}
                                Ta kontakt med arrangør.
                            {% else %}
                                {{ activity.oppmøtested }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-2">
                        <strong>Utstyr</strong>
                        <br>
                        <div class="font-weight-light">
                            {% if activity.gear|length == 0 or activity.gear is None %}
                                Ingen utstyr påkrevd.
                            {% else %}
                                {{ activity.gear }}
                            {% endif %}
                        </div>
                    </div>

                    {% if activity.price > 0 %}
                        <div class="mb-2">
                            <strong>Pris</strong>
                            <br>
                            <div class="font-weight-light">
                                {{ activity.price }} kr
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="w-100">
            <div style="" class="activate-card bg-white shadow p-4">
                <div class="d-flex flex-column flex-grow w-100">
                    <a href="/{{ activity.id }}" class=""><h4>{{ activity.title }}</h4></a>
                    <small class="text-muted mb-2">{{ activity.date }}, fra {{ activity.time_from }} til {{ activity.time_to }}.</small>
                    <div class="d-flex flex-column flex-grow position-relative">
                        <div style="word-break: break-word;" class="">{{ activity.text|linebreaksbr }}</div>
                    </div>
                </div>
                <div class="d-flex flex-column position-relative mt-3">
                    {% include 'events/activity_button_reg_detail.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
