{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="list-group">
            <legend class="border-bottom mb-4">Dine arrangementer!</legend>
            {% for activity in arranged_activities %}
                {% include "events/activity_item.html" with activity=activity %}
            {% endfor %}
            {% if arranged_activities.count == 0 %}
                <p>Du er ikke arrangør for noen arrangementer.</p>
            {% endif %}
        </div>

        <div class="list-group mt-5">
            <legend class="border-bottom mb-4 mt-5">Kommende arrangementer!</legend>
            {% for activity in upcoming_activities %}
                {% include "events/activity_item.html" with activity=activity %}
            {% endfor %}
            {% if upcoming_activities.count == 0 %}
                <p>Du har ingen kommende arrangementer.</p>
            {% endif %}
        </div>


        <div class="list-group mt-5">
            <legend class="border-bottom mb-4 mt-5">Dine tidligere arrangementer!</legend>
            {% for activity in earlier_arranged_activities %}
                {% include "events/activity_item.html" with activity=activity %}
            {% endfor %}
            {% if earlier_arranged_activities.count == 0 %}
                <p>Du er har ikke vært arrangør for noen tidligere arrangementer.</p>
            {% endif %}
        </div>


        <div class="list-group mt-5">
            <legend class="border-bottom mb-4 mt-5">Tidligere påmeldte arrangementer!</legend>
            {% for activity in earlier_activities %}
                {% include "events/activity_item.html" with activity=activity %}
            {% endfor %}
            {% if earlier_activities.count == 0 %}
                <p>Du er har ikke vært på noen tidligere arrangementer.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
