{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container-fluid mb-4" id="accordion">
    <div class="activate-card shadow">
      <div class="card-header" id="headingFilter">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
            <i class="fas fa-filter"></i> Filtreringsvalg
          </button>
        </h5>
      </div>

      <div id="collapseFilter" class="collapse" aria-labelledby="headingFilter" data-parent="#accordion">
        <div class="card-body">
           <form action="{% url 'events:activity_list' %}" method="GET">
            {% crispy filter_form %}
           </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
      <div class="list-group">
          {% for activity in activities %}
              {% include "events/activity_item.html" with activity=activity %}
          {% endfor %}
      </div>
  </div>
{% endblock content %}

