{% load static %}

<div style="position: relative; width: 100%;" class="activity mb-4 bg-white d-flex flex-row shadow">
    <img src="{% static "images/sit_logo_800.png" %}" class="h-100 image-container" alt="Bilde av aktivitet"/>
    <div style="" class="d-flex flex-column flex-grow w-100">
        <div class="w-100 h-100 p-4">
            <div class="d-flex flex-column flex-grow w-100 h-100">
                <div class="d-flex flex-column flex-grow w-100 h-100">
                    <a href="{{ activity.id }}" class="stretched-link"><h4>{{ activity.title }}</h4></a>
                    <small class="text-muted mb-2">{{ activity.date_from }}</small>
                    <div class="d-flex flex-column flex-grow position-relative h-100">
                        <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;" class="position-absolute w-100 h-100">
                            <p style="" class="">{{ activity.text }}</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column position-relative">
                    {% include 'events/activity_button_register.html' %}
                </div>
            </div>
        </div>
    </div>
</div>