{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container-fluid">
      <div class="card-deck">
          {% for activity in activities %}
              <div class="card mb-3">
                  <img src="{% static "images/sit_logo.png" %}" class="card-img-top" alt="{{ activity.title }} ">
                  <div class="card-body">
                      <h5 class="card-title"><a href="">{{ activity.title }}</a></h5>
                      <p class="card-text text-muted">Når: {{ activity.date_from }}</p>
                      <p class="card-text">{{ activity.text|linebreaksbr }}</p>
                      <a href="#" class="btn btn-primary card-bottom">Meld på</a>
                  </div>
              </div>
          {% endfor %}
      </div>
  </div>
{% endblock content %}

