{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          {% for activity in activities %}
              <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title"><a href="">{{ activity.title }}</a></h5>
                    <p class="card-text">{{ activity.text|linebreaksbr }}</p>
                    <a href="#" class="btn btn-primary">Meld på</a>
                </div>
              </div>
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}